/*********************
ALERTS
*********************/
.itz-alert {
    position: relative;
    padding-left: 0.75rem;
    padding-right: 1.25rem;
    border: 1px solid transparent;
    border-radius: 2px;
    min-height: 2.815rem;
    line-height: 2.8rem;

    display: flex;

    a {
        float: left;
    }
    .itz-alert-close {
        background-color: transparent;
        border: none;
        color: inherit;
        font-size: 1.5rem;
        position: absolute;
        right: 2.5%;
    }
    .itz-btn {
        align-self: center;
        line-height: 0;
    }

}

.itz-alert-primary-blue {
    background-color: $color-primary-blue;
    color: $color-light;
}

.itz-alert-primary-gray {
    background-color: $color-primary-gray;
    color: $color-dark;
}
.itz-alert-secondary-blue {
    background-color: $color-secondary-blue;
    color: $color-light;
}

.itz-alert-secondary-gray {
    background-color: $color-secondary-gray;
    color: $color-dark;
}
.itz-alert-secondary-gray-AA {
    background-color: $color-secondary-gray-AA;
    color: $color-light;
}

.itz-alert-red {
    background-color: $color-red;
    color: $color-light;
}
.itz-alert-green {
    background-color: $color-green;
    color: $color-light;
}
.itz-alert-yellow {
    background-color: $color-yellow;
    color: $color-dark;
}
.itz-alert-dark {
    background-color: $color-dark;
    color: $color-light;
}
.itz-alert-light {
    background-color: $color-light;
    color: $color-dark;
}

.itz-testingasdfasdf {
    animation: cubic-bezier(0.19, 1, 0.22, 1);
}