/*********************
BUTTONS
*********************/
@mixin colorize($color) {
    background-color: $color;

    &:hover {
        background-color: $color - 25;
    }
}

.itz-btn {
    display: inline-block;
    border-radius: 2px;
    height: 2.815rem;
    width: auto;
    min-width: 6.25rem;
    border: none;
    padding: 0 1.2rem;
    font-size: $h6-font-size;
    transition: background-color 0.1s ease-in;
    @include colorize($color-secondary-gray);
}

.itz-btn-block {
    width: 100%;
}

.itz-btn-sm {
    height: 1.875rem;
    @extend .itz-undertitle;
}

.itz-btn-primary-blue {
    color: $color-light;
    @include colorize($color-primary-blue);
}

.itz-btn-transparent {
    background-color: transparent;
    @include colorize(transparent);
}

.itz-btn-outline-primary-blue {
    color: $color-primary-blue;
    background-color: transparent;
    border: 1px solid $color-primary-blue;
    &:hover {
        background-color: $color-primary-gray;
    }
}

.itz-btn-secondary {
    color: $color-light;
    @include colorize($color-secondary-blue);
}

.itz-btn-outline-secondary {
    color: $color-secondary-blue;
    background-color: transparent;
    border: 1px solid $color-secondary-blue;
    &:hover {
        background-color: $color-primary-gray;
    }
}

.itz-btn-light {
    background-color: $color-light;
    color: $color-dark;
    &:hover {
        background-color: $color-light;
    }
}
.itz-btn-dark {
    background-color: $color-dark;
    color: $color-light;
    @include colorize($color-dark);
}

.itz-btn-fixed-size {
    width: 8.125rem;
}

.itz-btn-red {
    background-color: $color-red;
    color: $color-light;
    @include colorize($color-red);
}
.itz-btn-yellow {
    background-color: $color-yellow;
    color: $color-dark;
    @include colorize($color-yellow);
}
.itz-btn-green {
    background-color: $color-green;
    color: $color-light;
    @include colorize($color-green);
}
