/*********************
COLORS
*********************/

// Background

.itz-bg-primary-blue {
  background-color: $color-primary-blue !important;
}
.itz-bg-primary-gray {
  background-color: $color-primary-gray !important;
}
.itz-bg-secondary-gray {
  background-color: $color-secondary-gray !important;
}
.itz-bg-secondary-gray-AA {
  background-color: $color-secondary-gray-AA !important;
}
.itz-bg-secondary-blue {
  background-color: $color-secondary-blue !important;
}
.itz-bg-light {
  background-color: $color-light !important;
}
.itz-bg-dark {
  background-color: $color-dark !important;
}
.itz-bg-red {
  background-color: $color-red !important;
}
.itz-bg-yellow {
  background-color: $color-yellow !important;
}
.itz-bg-green {
  background-color: $color-green !important;
}

// Text

.itz-txt-primary-blue {
  color: $color-primary-blue !important;
}
.itz-txt-primary-gray {
  color: $color-primary-gray !important;
}
.itz-txt-secondary-gray {
  color: $color-secondary-gray !important;
}
.itz-txt-secondary-gray-AA {
  color: $color-secondary-gray-AA !important;
}
.itz-txt-secondary-blue {
  color: $color-secondary-blue !important;
}
.itz-txt-light {
  color: $color-light !important;
}
.itz-txt-dark {
  color: $color-dark !important;
}
.itz-txt-red {
  color: $color-red !important;
}
.itz-txt-yellow {
  color: $color-yellow !important;
}
.itz-txt-green {
  color: $color-green !important;
}

// Border

.itz-bc-primary-blue {
  border-color: $color-primary-blue !important;
}
.itz-bc-primary-gray {
  border-color: $color-primary-gray !important;
}
.itz-bc-secondary-gray {
  border-color: $color-secondary-gray !important;
}
.itz-bc-secondary-gray-AA {
  border-color: $color-secondary-gray-AA !important;
}
.itz-bc-secondary-blue {
  border-color: $color-secondary-blue !important;
}
.itz-bc-light {
  border-color: $color-light !important;
}
.itz-bc-dark {
  border-color: $color-dark !important;
}
.itz-bc-red {
  border-color: $color-red !important;
}
.itz-bc-yellow {
  border-color: $color-yellow !important;
}
.itz-bc-green {
  border-color: $color-green !important;
}
