.itz-minh-100 {
  min-height: 100vh !important;
}

/*********************
HEADER
*********************/
.itz-logo {
  overflow: hidden;
  img {
    max-height: 4rem;
    width: 100%;
  }
}

.itz-link-inherit {
  color: inherit !important;
  display: inline-block;
  vertical-align: middle;
  &:hover {
    text-decoration: none;
  }
  label {
    margin-left: 0.25rem;
    cursor: pointer;
  }
}

.itz-access-links {
  display: flex;
  justify-content: flex-end;
  .itz-link-inherit {
    img {
      width: 20px;
      height: 20px;
    }
  }
}

/**** SLOGAN ****/

.itz-slogan {
  .itz-slogan-pic {
    img {
      max-width: 90%;
      height: auto;
      width: 100%;
    }
  }
}

@include media-breakpoint-only(md) {
  .itz-slogan {
    .itz-slogan-pic {
      img {
        margin-top: 1rem;
        max-width: 70%;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .itz-slogan {
    .itz-slogan-pic {
      img {
        margin-top: 1rem;
        max-width: 75%;
      }
    }
  }
}

/*********************
MAIN
*********************/

main {
  min-height: 100px;
}

/*********************
FOOTER
*********************/
footer {
  min-height: 100px;
}

footer {
  .itz-link-inherit {
    color: inherit;
    display: inline-block;
    vertical-align: middle;
    &:hover {
      text-decoration: underline;
    }
  }
}
