/*********************
READ MORE
*********************/

.itz-read-more-state {
  display: none;
}

.itz-read-more-state:checked ~ .itz-read-more-wrap .itz-read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.itz-read-more-trigger {
  // cursor: pointer;
  // display: block;
  // padding: 0 0.5em;
  // color: $color-primary-blue;
  // font-size: 1rem;
  line-height: 2.815;
  // border: 1px solid $color-primary-blue;
  // border-radius: 2px;
  text-align: center;
}

.itz-read-more-state ~ .itz-read-more-trigger:before,
.itz-read-more-state ~ .itz-read-more-wrap .itz-read-more-trigger:before {
  content: "Mehr anzeigen";
}

.itz-read-more-state:checked ~ .itz-read-more-trigger:before,
.itz-read-more-state:checked ~ .itz-read-more-wrap .itz-read-more-trigger:before {
  content: "Weniger anzeigen";
}

// Custom - Landingpage, Listenansicht
#itz-kategorien.itz-read-more-state ~ .itz-read-more-wrap .itz-read-more-trigger:before,
#itz-subkategorien.itz-read-more-state ~ .itz-read-more-wrap .itz-read-more-trigger:before {
  content: "Alle anzeigen";
}

#itz-kategorien.itz-read-more-state:checked ~ .itz-read-more-wrap .itz-read-more-trigger:before,
#itz-subkategorien.itz-read-more-state:checked
  ~ .itz-read-more-wrap
  .itz-read-more-trigger:before {
  content: "Weniger anzeigen";
}

@include media-breakpoint-down(md) {
  // Alles anzeigen
  .itz-read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: all 0.25s ease-in-out;
  }
}

@include media-breakpoint-up(lg) {
  // Button ausblenden
  .itz-read-more-trigger {
    display: none;
  }

  #itz-subkategorien.itz-read-more-state ~ .itz-read-more-wrap .itz-read-more-target {
    pointer-events: none;
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: all 0.25s ease-in-out;
  }

  #itz-subkategorien.itz-read-more-state ~ .itz-read-more-wrap .itz-read-more-trigger {
    display: inline-block;
  }

  #itz-subkategorien.itz-read-more-state:checked ~ .itz-read-more-wrap .itz-read-more-target {
    pointer-events: auto;
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
  }
}
