
.slider-custom-size {
  width: 6rem;
}

@include media-breakpoint-down(sm) {
  .custom-slick {
    padding-right: 0px;
    padding-left: 0px;
  }

  .slick-dots {
    position: relative;
  }
}


.slide-count-wrap {
  border-radius: 0.2rem;
  padding: 0.3rem;
  z-index: 100;
  top: 0;
  right: 0;
}

@include media-breakpoint-up(lg){
  .slide-count-wrap {
    margin: 0.3rem;
  }
}

.slider-product-nav {
  padding-left: 15px;
  padding-right: 15px;
}


.itz-counter {
  display: inline-block;
  white-space: nowrap;
  font-size: 0.75rem;
  line-height: 1;
  padding: 0.125rem 0.3125rem;
  border-radius: 1.25rem;
  background-color: rgba(27, 31, 35, 0.08);
  color: #444d56;
  // padding: 0.3rem;
  // margin: 0.3rem;
  // z-index: 100;
}

.slick-dots {
  bottom: 0;
  position: relative;
}

.slick-dotted.slick-slider {
  margin-bottom: 5px;
}

.slick-dots li.slick-active button:before {
  color: #fff;
  opacity: 1;
  font-size: 8px;
}

.slick-dots li button:before {
  color: #fff;
  opacity: 0.5;
}


// actual responsive code.
.itz-square-box {
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.itz-square-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  text-align: center; // old ie
  font: 0/0 a; // old ie

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
    font: 0/0 a;
    vertical-align: middle;

    .itz-old-ie & {
      display: inline-block;
    }
  }

  img {
    margin: 0 auto;
    //align-self: center;
    text-align: center;
    vertical-align: middle;

    &.itz-horizontal {
      width: 100%;
    }

    &.itz-vertical {
      height: 100%;
      margin: 0;
    }

    .itz-old-ie & {
      display: inline-block;
      max-height: 100%;
      max-width: 100%;
    }
  }
}

.slick-prev:before,  
.slick-next:before  {
  content: " ";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  padding: 20px 25px;
  width: 25px 25px;
  background-size: 25px auto;
  background-repeat: no-repeat;
  background-position: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -35px;
}

.slick-prev:before {
  background-image: url('../assets/Arrows/w-back.svg');
}
.slick-next:before {
  background-image: url('../assets/Arrows/w-forward.svg');
}