/*********************
TYPOGRAPHY
*********************/

//
// Headings
//

.itz-h1,
.itz-h2,
.itz-h3,
.itz-h4,
.itz-h5,
.itz-h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

.itz-h1 {
  font-size: $h1-font-size;
  letter-spacing: 0.0375rem;
}

.itz-h2 {
  font-size: $h2-font-size;
}

.itz-h3 {
  font-size: $h3-font-size;
  font-weight: 100;
}

.itz-h4 {
  font-size: $h4-font-size;
}

.itz-h5 {
  font-size: $h5-font-size;
}

.itz-h6 {
  font-size: $h6-font-size;
}

.itz-h7 {
  font-size: $h7-font-size !important;
}

.itz-custom-line-height-45 {
  line-height: 2.8125rem;
}

.itz-h1 {
  font-weight: normal;
  line-height: $h1-line-height;
}

.itz-custom-price {
  font-size: $h6-font-size;
  font-weight: 700;
  line-height: 1.5rem;
  font-family: $font-family-text;
}

// a, p

a {
  color: $color-secondary-blue;
  &:hover {
    text-decoration: none;
  }
}

p {
  margin-bottom: 0.5rem 0;
}

.itz-p {
  font-size: 1rem;
  margin-bottom: 0.5rem 0;
  font-family: $font-family-text;
  font-weight: 400;
  line-height: 1.5;
  color: $headings-color;
}

.itz-p-tab {
  font-family: $font-family-text;
  font-weight: 700;
  margin-bottom:0;
}

.itz-fw-700 {
  font-weight: 700;
}

// Size
.itz-body-normal {
  font-size: 1rem;
}

.itz-body-big {
  font-size: 1.125rem !important;
}

.itz-undertitle {
  font-size: 0.875rem;
}

@include media-breakpoint-down(sm) {
  .itz-body-big {
    font-size: $h5-font-size !important;
  }
}

// Type display classes
// used in the landing page slogan header
.itz-display-1 {
  font-size: $h1-font-size;
  line-height: $h1-font-size * 1.3;
}
.itz-display-2 {
  font-family: $font-family-text;
  line-height: 120%;
}

.itz-sub-category-styling {
  letter-spacing: 0.3125rem;
  font-weight: 600;
  text-transform: uppercase;
}

@include media-breakpoint-down(lg) {
}
@include media-breakpoint-down(md) {
}

@include media-breakpoint-down(sm) {
  .itz-h3 {
    font-size: $h5-font-size;
  }

  .itz-display-1 {
    line-height: $h2-font-size * 1.15;
    font-size: $h3-font-size;
  }
  .itz-display-2 {
    font-size: $h5-font-size;
  }

  .itz-display-about-sm {
    line-height: $h2-font-size * 1.15;
    font-size: $h3-font-size;
  }
}
