/*********************
VARIABLES
*********************/
// Colors
// $color-primary-blue: #003e6c; #2727A4
$color-primary-blue: #09308b;
$color-primary-gray: #f2f2f2;
$color-secondary-gray: #c4c4c4;
$color-secondary-gray-AA: #6d6d6d;
$color-secondary-blue: #0f62bd;
$color-light: #ffffff;
$color-dark: #262627;
$color-red: #dc3545;
$color-yellow: #ffc107;
$color-green: #28a745;

// TYPOGRAPHIE
// Font family

$font-family-text: "Apercu Pro Light", sans-serif;
$headings-font-family: "Apercu Pro", sans-serif;

@font-face {
  font-family: "Apercu Pro";
  src: url("../assets/fonts/ApercuProRegular.WOFF") format("woff");
}
@font-face {
  font-family: "Apercu Pro Light";
  src: url("../assets/fonts/ApercuProLight.WOFF") format("woff");
}

* {
  font-family: $font-family-text;
}

// Sizes

$h1-font-size: 2.25rem; // 36px
$h2-font-size: 1.875rem; // 30px
$h3-font-size: 1.5rem; // 24px
$h4-font-size: 1.25rem; // 20px
$h5-font-size: 1.125rem; // 18px
$h6-font-size: 1rem; // 16px
$h7-font-size: 0.875rem; // 14px

$h1-line-height: 4rem;

$spacer: 1rem !default;
$headings-margin-bottom: ($spacer / 2) !default;

$headings-font-family: inherit !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.2 !default;
$headings-color: inherit !default;

// Weights

$headings-font-weight: normal;

$display2-weight: 200;
$display-line-height: 200;
