:root {
  --md-primary-fg-color:              #4265FF;
  --md-primary-fg-color--light:       #FFFFFF;
  --md-primary-fg-color--dark:        #2A2B2D;
  --md-primary-bg-color:              #FFFFFF;
  --md-primary-bg-color--light:       #E9EEF3;
  --md-accent-fg-color:               #60CFFF;
  --md-accent-fg-color--transparent:  #48E1A1;
  --md-accent-bg-color:               #60CFFF;
  --md-accent-bg-color--light:        #E0F0FF;
}


img {
  border-radius: 0px;
  display: block;
  margin-left: 0px;
  margin-right: auto;
  width: 75%;

}
